<ion-app>
  <ion-split-pane when="md" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar class="background-dark">
          <ion-title> <h6>Con Fusion</h6></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header text-wrap>
            <ion-thumbnail item-left>
              <img src="../assets/images/logo.png"/>
            </ion-thumbnail>ConFusion</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>
          <ion-menu-toggle auto-hide="false" (click)="openLogin()">
            <ion-item button>
              <ion-icon slot="start" icon="log-in"></ion-icon>
              <ion-label>Login</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="[p.url]">
              <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" (click)="openReserve()">
            <ion-item button>
              <ion-icon slot="start" icon="book"></ion-icon>
              <ion-label>Reserve Table</ion-label>
            </ion-item>
          </ion-menu-toggle>
        
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
